@media (prefers-color-scheme: dark) {
    :root {
        --bs-body-bg: var(--bs-gray-900);
        --bs-body-color: white;
    }

    code {
        color: hsl(330, 67%, 78%);
    }

    .card {
        background-color: var(--bs-gray-800);
    }
}